<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
</head>

    <body>
        <header>
            <hl>&#127754; Pool Controller &#127754;</hl>
        </header>

        <section>
        
            <div class="pump-wrapper">
            <p>Pool Pump</p>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>

            <div class="lights-wrapper">
            <p>Lights</p>
              <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
              </label>
            </div>

            <div class="filter-wrapper">
            <p>Pool Filter</p>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>

            <div class="up-wrapper">
                <button class="button" onclick="tempUp()">Up</button>
            </div>
            
            <div class="temp-wrapper">
                <p class=Temp id="Temperature":Temp>72</p>
            </div>

            <div class="down-wrapper">
                <button class="button" onclick="tempDown()">Down</button>
            </div>

            <article>
                <h2>Hue Control Inc.<h2>
                <p>Controlling Your Pool Since 1969</p>
            </article>
            
            <div class="CurrentStatus">
                <p>Current Status:</p>
            </div>
            
            <div class="DataBox">
                 <script>
                    var Temperature,CurrentTemperature,AirTemp;
                    AirTemp = 42;
                    CurrentTemperature = 80;
                    Temperature = 72;
                    function tempUp(){
                        Temperature = Temperature + 1;
                        document.getElementById("Temperature").innerHTML = Temperature;
                    }
                    
                    function tempDown(){
                        Temperature = Temperature - 1
                        document.getElementById("Temperature").innerHTML = Temperature;
                        
                    }
                    function DisplayTemp(){
                         document.getElementById("CurrentTemperature").innerHTML = CurrentTemperature;
                    }
                    function DisplayAir(){
                        document.getElementById("AirTemp").innerHTML = AirTemp;
                    }
                    function DisplayPH(){
                        document.getElecmentById("PHLevel").innerHTML = PHLevel;
                    }
                    
                </script>
                
                <p class=WaterLevel id="CurrentWaterLvl":Temp>Water Level {{waterLevel}} ft</p>
                <p class=CurrentTemp id="CurrentTemperature":CTemp>Water Temperature {{waterTemperature}} F</p>
                <p class=AirTemp id="AirTemp":CTemp>Air Temperature {{airTemperature}} F</p>
                <p class=PHLVL id="PHLevel":PH>PH level {{phLevel}}</p>
                
            </div>
            
        <section>
        <div class="MaherDiv">
        <img src="static/images/Maher.jpg" alt="A funny Maher"
        width="400"
        height="300"/>
            </div>
            
    </body>
</html>
