<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
</head>

<body>
        <header>
            <hl>&#127754; Pool Controller &#127754;</hl>
        </header>

        <section>
        
            <div class="pump-wrapper">
            <p>Pool Pump</p>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>

            <div class="lights-wrapper">
            <p>Lights</p>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>

            <div class="filter-wrapper">
            <p>Pool Filter</p>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>

            
