{% extends "base.html" %}
{% block content %}

    <div class="sidenav">
        <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
        <a class="active" a href="devices"><i class="fa fa-fw fa-tablet"></i>Devices</a>
        <a href="temperature"><i class="fa fa-fw fa-thermometer-half"></i>Temperature</a>
        <a href="schedule"><i class="fa fa-fw fa-calendar"></i>Schedule</a>
    </div>
    <form>
        <div class="container">
            <p>Select A Device:</p>
        </div>
         
        <div class="container">
            <label class="label">Pool Lights
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="container">
            <label class="label">Pool Filter
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="container">
            <label class="label">Pool Pump
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="container">
            <label class="label">Pool Heater
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="onoff">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        
        <div class="stime">
            <form action="#" medthod="post">
                <label for="stime" style="color:white">Start Time:</label><br>
                <p><input type="text" name="starttm" /></p>
            </form>
        </div>

        <div class="etime">
            <form action="#" medthod="post">
                <label for="etime" style="color:white">End Time:</label><br>
                <p><input type="text" name="endtm" /></p>
            </form>
        </div>

        <div class="add">
            <button class="button">Add</button>
        </div>
    </form>
{% endblock %}
            
