{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<form action="Save" method="post">
    <fieldset>
        <legend>Add to log</legend>
        <p>
            Message:
            <textarea name="message"></textarea>
        </p>
        
        <p><input type="submite" value="SAVE" /></p>
    </fieldset>

<?php

//Was the request (post or get) parameter data supplied?
if(!empty($_REQUEST['data']) {
    $file = 'log.txt';
    $data = $_REQUEST['data']."\n";

    // using the FILE_APPEND flag to append the content to the end of the file
    // and the LOCK_EX flag to prevent anyone else writing to the file at the same time
    file_put_contents($file, $data, FILE_APPEND | LOCK_EX);

} ?>
</form>
{% endblock %}
