{% extends "base.html" %}
{% block content %}

    <div class="sidenav">
        <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="devices"><i class="fa fa-fw fa-tablet"></i>Devices</a>
        <a href="temperature"><i class="fa fa-fw fa-thermometer-half"></i>Temperature</a>
        <a class="active" href="schedule"><i class="fa fa-fw fa-calendar"></i>Schedule</a>
    </div>

    <h3>Schedule</h3>

    <table>
      <tr>
        <th>Time</th>
        <th>Lights</th>
        <th>Filter</th>
        <th>Pump</th>
        <th>Temperature</th>
      </tr>
      <tr>
        <td>12:00 AM</td>
      </tr>
      <tr>
        <td>1:00 AM</td>
      </tr>
      <tr>
        <td>2:00 AM</td>
      </tr>
      <tr>
        <td>3:00 AM</td>
      </tr>
      <tr>
        <td>4:00 AM</td>
      </tr>
      <tr>
        <td>5:00 AM</td>
      </tr>
      <tr>
        <td>6:00 AM</td>
      </tr>
      <tr>
        <td>7:00 AM</td>
      </tr>
      <tr>
        <td>8:00 AM</td>
      </tr>
      <tr>
        <td>9:00 AM</td>
      </tr>
      <tr>
        <td>10:00 AM</td>
      </tr>
      <tr>
        <td>11:00 AM</td>
      </tr>
      <tr>
        <td>12:00 PM</td>
      </tr>
      <tr>
        <td>1:00 PM</td>
      </tr>
      <tr>
        <td>2:00 PM</td>
      </tr>
      <tr>
        <td>3:00 PM</td>
      </tr>
      <tr>
        <td>4:00 PM</td>
      </tr>
      <tr>
        <td>5:00 PM</td>
      </tr>
      <tr>
        <td>6:00 PM</td>
      </tr>
      <tr>
        <td>7:00 PM</td>
      </tr>
      <tr>
        <td>8:00 PM</td>
      </tr>
      <tr>
        <td>9:00 PM</td>
      </tr>
      <tr>
        <td>10:00 PM</td>
      </tr>
      <tr>
        <td>11:00 PM</td>
      </tr>
    </table>

{% endblock %}
