{% extends "base.html" %}
{% block content %}

    <div class="sidenav">
      <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
      <a href="devices"><i class="fa fa-fw fa-tablet"></i>Devices</a>
      <a class="active" href="temperature"><i class="fa fa-fw fa-thermometer-half"></i>Temperature</a>
      <a href="schedule"><i class="fa fa-fw fa-calendar"></i>Schedule</a>
    </div>
    
    <div class="temp-text">
      <p>Water Temperature</p>
    </div>
    
    <div class="up-wrapper">
      <button class="button" onclick="tempUp()">Up</button>
    </div>
    
    <form id="temperatureForm" onsubmit="return makePost()">
      <div class="temp-wrapper">
          <input type="text" class=Temp id="Temperature":Temp name="temperatureValue" value={{waterTemperature}}>
      </div>
    </form>

    <div class="down-wrapper">
      <button class="button" onclick="tempDown()">Down</button>
    </div>

    <div class="SetT">
      <button class="button" onclick="makePost()">Set</button>
    </div>
    
    <div class="stime">
      <form action="/timing" id="stime" method="POST">
        <label for="starttm" style="color: white;">Start Time:</label><br>
        <p><input id="starttm" type="text" name="starttm" value="" /></p>
      </form>
    </div>

    <div class="etime">
      <form action="/timing" id="etime" method="POST">
        <label for="endtm" style="color: white;">End Time:</label><br>
        <p><input id="endtm" type="text" name="endtm" value="" /></p>
      </form>
    </div>

    <div class="add">
      <button id="addButton" class="button">Add</button>
    </div>

    <script>
        // Global variables
        var WaterTemp;
        const addBtn = document.getElementById('addButton');
        const startInput = document.getElementById('starttm');
        const endInput = document.getElementById('endtm');
        const startForm = document.getElementById('stime');
        const endForm = document.getElementById('etime');


        // Post function for submitting form data
        function makePost() {
            // Get form data
            const formData = new FormData(document.getElementById("temperatureForm"));
            console.log("Form data: ");
            for (const element of formData.keys())
                console.log(element);

            // Fetch
            fetch("/temperature", {
                method: "POST",
                body: formData,
            }).then(function(response) {
                // do something with the response if needed
                // Update any GUI components if needed

            }).catch(function(err) {
                // error handling if needed
            });
          }


          addBtn.addEventListener('click', function() {
            console.log("event Listener");
            console.log(startInput.value);
            console.log(endInput.value);
           
            const formDataStart = new FormData(startForm);
            const formDataEnd = new FormData(endForm);
            fetch('/timing', {
              method: 'POST',
              body: formDataStart
            })
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json();
            })
            .then(data => {
              console.log(data);
            })
            .catch(error => {
              console.error('There was a problem with the fetch operation:', error);
            });

            fetch('/timing', {
              method: 'POST',
              body: formDataEnd
            })
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json();
            })
            .then(data => {
              console.log(data);
            })
            .catch(error => {
              console.error('There was a problem with the fetch operation:', error);
            });
          });

        // Temperature up
        function tempUp() {
            WaterTemp = Number(document.getElementById("Temperature").value);
            WaterTemp = WaterTemp + 1;
            console.log("Temp up: " + WaterTemp);
            document.getElementById("Temperature").value = WaterTemp;
        }

        // Temperature down
        function tempDown() {
            WaterTemp = Number(document.getElementById("Temperature").value);
            WaterTemp = WaterTemp - 1;
            console.log("Temp down: " + WaterTemp);
            document.getElementById("Temperature").value = WaterTemp;
        }
    </script>

{% endblock %}
