{% extends "base.html" %}
{% block content %}

    <div class="sidenav">
      <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
      <a href="devices"><i class="fa fa-fw fa-tablet"></i>Devices</a>
      <a class="active" href="temperature"><i class="fa fa-fw fa-thermometer-half"></i>Temperature</a>
      <a href="schedule"><i class="fa fa-fw fa-calendar"></i>Schedule</a>
    </div>
    
    <div class="temp-text">
      <p>Water Temperature:</p>
    </div>
    
    <form id="temperatureForm" onsubmit="return makePost()">
      <div class="up-wrapper">
        <button type="button" class="button" onclick="tempUp()">Up</button>
      </div>
    
      <div class="temp-wrapper">
          <input type="text" class=Temp id="Temperature":Temp name="temperatureValue" value={{waterTemperature}}>
      </div>

      <div class="down-wrapper">
        <button type="button" class="button" onclick="tempDown()">Down</button>
      </div>

      <div class="SetT">
        <button type="button" class="button" name="setTemp" onclick="makePost()">Set</button>>
      </div>

      <div class="EnableT">
        <input type="checkbox" id="enableTemp" name="enableTemp" value="">Enable Auto-Heater</input>
      </div>

    </form>
    
    <form id="schedForm" onsubmit="return makeSchedPost()">
      <div class="stime">
        <label for="starttm" style="color: white;">Start Time:</label><br>
        <p><input id="starttm" type="text" name="starttm" value="" /></p>
      </div>

      <div class="etime">
        <label for="endtm" style="color: white;">End Time:</label><br>
        <p><input id="endtm" type="text" name="endtm" value="" /></p>
      </div>

      <div class="add">
        <input type="button" id="addButton" class="button" value="Add" onclick="return makeSchedPost()">
      </div>
    </form>

    <script>
        // Global variables
        var WaterTemp;
        const addBtn = document.getElementById('addButton');
        const startInput = document.getElementById('starttm');
        const endInput = document.getElementById('endtm');
        const startForm = document.getElementById('stime');
        const endForm = document.getElementById('etime');

        // Check heater automation status
        if ("{{autoHeater}}"=="True") {
          document.getElementById("enableTemp").checked = true;
        }


        // Post function for submitting form data
        function makePost() {
            // Get form data
            const formData = new FormData(document.getElementById("temperatureForm"));
            console.log("Form data: ");
            for (const element of formData.keys())
                console.log(element);

            // Fetch
            fetch("/temperature", {
                method: "POST",
                body: formData,
            }).then(function(response) {
                // do something with the response if needed
                // Update any GUI components if needed

            }).catch(function(err) {
                // error handling if needed
            });

            // return
            return false;
          }

          // Post function for submitting schedule form data
        function makeSchedPost() {
            // Get form data
            const formData = new FormData(document.getElementById("schedForm"))

            // Make post request
            fetch("/temperature", {
                method: "POST",
                body: formData,
            }).then(function(response) {
                // do something with the response if needed
                document.getElementById("starttm").value = "";
                document.getElementById("endtm").value = "";
            }).catch(function(err) {
                // error handling if needed
            });
            
            // return
            return false;
        }
          
          // Old add button implementation
          /*
          addBtn.addEventListener('click', function() {
            console.log("event Listener");
            console.log(startInput.value);
            console.log(endInput.value);
           
            const formDataStart = new FormData(startForm);
            const formDataEnd = new FormData(endForm);
            fetch('/timing', {
              method: 'POST',
              body: formDataStart
            })
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json();
            })
            .then(data => {
              console.log(data);
            })
            .catch(error => {
              console.error('There was a problem with the fetch operation:', error);
            });

            fetch('/timing', {
              method: 'POST',
              body: formDataEnd
            })
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json();
            })
            .then(data => {
              console.log(data);
            })
            .catch(error => {
              console.error('There was a problem with the fetch operation:', error);
            });
          });
          */

        // Temperature up
        function tempUp() {
            WaterTemp = Number(document.getElementById("Temperature").value);
            WaterTemp = WaterTemp + 1;
            //console.log("Temp up: " + WaterTemp);
            document.getElementById("Temperature").value = WaterTemp;
        }

        // Temperature down
        function tempDown() {
            WaterTemp = Number(document.getElementById("Temperature").value);
            WaterTemp = WaterTemp - 1;
            //console.log("Temp down: " + WaterTemp);
            document.getElementById("Temperature").value = WaterTemp;
        }
    </script>

{% endblock %}
